dont do anything here yet

<form action='/list/<%= params[:list_name] %>/submit'
             method='post' >

    <p>Title</p>
    <input type='text' name='title' value="<%= @title.titleize %>">

    <p>Director</p>
    <input type='text' name='director' value="<%= @director %>">

    <p>Year</p>
    <input type='text' name='year' value=<%= @year %>>

    <p>Genre</p>
    <input type='text' name='genre' value="<%= @genre %>">

    <p>Language</p>
    <input type='text' name='language' value="<%= @language %>">

    <p>From (ie, netflix)</p>
    <input type='text' name='from'>

    <p>Reccomended by</p>
    <input type='text' name='reccommended_by'>

    <div>
        <p>Notes</p>
        <input type='textarea' name='notes'>
        <p>Notes 2</p>
        <input type='textarea' name='notes2'>
    </div>


    <input name='list_id' type='hidden' value='<%= @list_id %>'>
    <input name='user_id' type='hidden' value='<%= current_user.id %>'>

    <input name='list' type='hidden' value='<%= params[:list_name] %>'>

     <input name="authenticity_token" 
                   type="hidden" 
                   value="<%= form_authenticity_token %>" />
    <input type='submit'>


    
</form>


<p><%= params %></p>