<% if current_user.id == @list.user_id %>


<br/>


<table class='table-condensed table table-bordered table-hover' style="background-color:#eee">
    <thead>
        <th>
            <a href='/list/<%= params[:list_name] %>/seen/title'>  Title </a>
        </th>
        <th>
            <a href='/list/<%= params[:list_name] %>/seen/director'>  Director </a>
        </th>

        <th>
            <a href='/list/<%= params[:list_name] %>/seen/recommended_by'>  Recommended </a>
        </th>

        <th>
            <a href='/list/<%= params[:list_name] %>/seen/froms'>  From </a>
        </th>
        <th>
            <a href='/list/<%= params[:list_name] %>/seen/year'>  Year </a>
        </th>
        <th>
            <a href='/list/<%= params[:list_name] %>/seen/language'>  Language </a>
        </th>
        <th>
            <a href='/list/<%= params[:list_name] %>/seen/genre'>  Genre </a>
        </th>
        <th>
            <a href='/list/<%= params[:list_name] %>/seen/notes'>  Note </a>
        </th>
        <th>
            <a href='/list/<%= params[:list_name] %>/seen/notes2'>  Note 2</a>
        </th>


    </thead>
    <% @array.each do |item| %>
        <% if item.seen == true %>
        <tr>
            <td> <%= item.title %>            </td>
            <td> <%= item.director  %>        </td>
            <td> <%= item.recommended_by %>   </td>
            <td> <%= item.froms %>            </td>
            <td> <%= item.year %>             </td>
            <td> <%= item.language %>         </td>
            <td> <%= item.genre %>            </td>
            <td> <%= item.notes %>            </td>
            <td> <%= item.notes2 %>           </td>
            <td>
                <form method='post' action='/item/unseen'>
                    <input type='hidden' 
                            name='list_name' 
                            value="<%= params[:list_name].gsub(' ','_') %>">

                    <input type='hidden' name='item_id' value="<%= item.id %>">
                    <input name="authenticity_token" 
                            type="hidden" 
                            value="<%= form_authenticity_token %>" />
                        
                    <button class='btn' id='submit'>Unsee</button>
                </form>
            </td>
            <td>
                <form method='post' action='/item/delete'>
                    <input type='hidden' 
                            name='list_name' 
                            value="<%= params[:list_name].gsub(' ','_') %>">

                    <input type='hidden' name='item_id' value="<%= item.id %>">
                    <input name="authenticity_token" 
                            type="hidden" 
                            value="<%= form_authenticity_token %>" />
                        
                    <button class='btn' id='submit'>Delete</button>
                </form>
            </td>
        </tr>
        <% end %>
    <% end %>
</table>

<% end %>
