<% if current_user.id == @list.user_id %>

<nav class="navbar navbar-default  navbar-fixed-top" role="navigation" >
    <div class="navbar-header">
        <a class="navbar-brand" href="/">List-r</a>
    </div>

    <div class="navbar-header" style="float:right;">
        <form method='post' action='/user/delete'>
            <input type='hidden' name='_method' value="<%= destroy_user_session_path %>" >
            <button class="navbar-brand" id='submit' style='background-color:#f8f8f8; border:0px;'>
                Log Out
                </button> 
        </form>
    </div>

    <div class="navbar-header">
        <a class="navbar-brand" href="/list/<%= params[:list_name] %>/">Main List</a>
    </div>


</nav>


<br/>


<table class='table-condensed table table-bordered table-hover' style="background-color:#eee">
    <% @list.items.each do |item| %>
        <% if item.seen == true %>
        <tr>
            <td> <%= item.title %>            </td>
            <td> <%= item.director  %>        </td>
            <td> <%= item.recommended_by %>   </td>
            <td> <%= item.where %>            </td>
            <td> <%= item.year %>             </td>
            <td> <%= item.language %>         </td>
            <td> <%= item.genre %>            </td>
            <td> <%= item.notes %>            </td>
            <td> <%= item.notes2 %>           </td>
            <td>
                <form method='post' action='/item/unseen'>
                    <input type='hidden' 
                            name='list_name' 
                            value="<%= params[:list_name].gsub(' ','_') %>">

                    <input type='hidden' name='item_id' value="<%= item.id %>">
                    <input name="authenticity_token" 
                            type="hidden" 
                            value="<%= form_authenticity_token %>" />
                        
                    <button class='btn' id='submit'>Unsee</button>
                </form>
            </td>
            <td>
                <form method='post' action='/item/delete'>
                    <input type='hidden' 
                            name='list_name' 
                            value="<%= params[:list_name].gsub(' ','_') %>">

                    <input type='hidden' name='item_id' value="<%= item.id %>">
                    <input name="authenticity_token" 
                            type="hidden" 
                            value="<%= form_authenticity_token %>" />
                        
                    <button class='btn' id='submit'>Delete</button>
                </form>
            </td>
        </tr>
        <% end %>
    <% end %>
</table>

<% end %>
