<% if current_user.id == @list.user_id %>

<a href="/">Home</a>
<a href="/list/<%= params[:list_name] %>">Main List</a>


<form method='post' action='/user/delete'>
    <input type='hidden' name='_method' value="<%= destroy_user_session_path %>" >
    
    <button id='submit'>Log out</button>
</form>


<br/>
<br/>
<br/>

<table>
    <% @list.items.each do |item| %>
        <% if item.seen == true %>
        <tr>
            <td>
                <%= item.title %>
            </td>
            <td>
                <%= item.director  %>
            </td>
            <td>
                <%= item.recommended_by %>
            </td>
            <td>
                <%= item.where %>
            </td>
            <td>
                <%= item.year %>
            </td>
            <td>
                <%= item.language %>
            </td>
            <td>
                <%= item.genre %>
            </td>
            <td>
                <%= item.notes %>
            </td>
            <td>
                <%= item.notes2 %>
            </td>
            <td>
                <form method='post' action='/item/unseen'>
                    <input type='hidden' name='list_name' value="<%= params[:list_name].gsub(' ','_') %>">
                    <input type='hidden' name='item_id' value="<%= item.id %>">
                    <input name="authenticity_token" 
                       type="hidden" 
                       value="<%= form_authenticity_token %>" />
                        
                    <button id='submit'>Unsee</button>
                </form>
            </td>
            <td>
                <form method='post' action='/item/delete'>
                    <input type='hidden' name='list_name' value="<%= params[:list_name].gsub(' ','_') %>">
                    <input type='hidden' name='item_id' value="<%= item.id %>">
                    <input name="authenticity_token" 
                       type="hidden" 
                       value="<%= form_authenticity_token %>" />
                        
                    <button id='submit'>Delete</button>
                </form>
            </td>
        </tr>
        <% end %>
    <% end %>
</table>

<% end %>
