<% if current_user.id == @list.user_id %>

<nav class="navbar navbar-default  navbar-fixed-top" role="navigation" >
    <div class="navbar-header">
        <a class="navbar-brand" href="/">List-r</a>
    </div>

    <div class="navbar-header" style="float:right;">
        <form method='post' action='/user/delete'>
            <input type='hidden' name='_method' value="<%= destroy_user_session_path %>" >
            <button class="navbar-brand" id='submit' style='background-color:#f8f8f8; border:0px;'>
                Log Out
                </button> 
        </form>
    </div>

    <div class="navbar-header">
        <a class="navbar-brand" href="/list/<%= params[:list_name] %>/seen/">Seen</a>
    </div>


</nav>

<div style='display:inline;' class='container'>
    <form style='display:inline;' class="col-sm-3" 
            method='post' 
            action='/list/<%= params[:list_name].gsub(' ','_') %>/item'>

        <input type='text' style='display:inline-block;' class='form-control' name='title' placeholder='new item'>

        <input name='user_id' type='hidden' value='<%= current_user.id %>'>

         <input name="authenticity_token" 
                    type="hidden" 
                    value="<%= form_authenticity_token %>" />
    </form>
</div>

<br/>

<table class='table-condensed table table-bordered table-hover' style="background-color:#eee">
    <% @list.items.each do |item| %>
        <% if item.seen == false %>
        <tr>
            <td>
                <%= item.title %>
            </td>
            <td>
                <%= item.director  %>
            </td>
            <td>
                <%= item.recommended_by %>
            </td>
            <td>
                <%= item.where %>
            </td>
            <td>
                <%= item.year %>
            </td>
            <td>
                <%= item.language %>
            </td>
            <td>
                <%= item.genre %>
            </td>
            <td>
                <%= item.notes %>
            </td>
            <td>
                <%= item.notes2 %>
            </td>
            <td>
                <form method='post' action='/item/seen'>
                    <input type='hidden' name='list_name' value="<%= params[:list_name].gsub(' ','_') %>">
                    <input type='hidden' name='item_id' value="<%= item.id %>">
                    <input name="authenticity_token" 
                            type="hidden" 
                            value="<%= form_authenticity_token %>" />
                        
                    <button id='submit' class='btn'>Seen</button>
                </form>
            </td>
            <td>
                <form method='post' action='/item/delete'>
                    <input type='hidden' name='list_name' value="<%= params[:list_name].gsub(' ','_') %>">
                    <input type='hidden' name='item_id' value="<%= item.id %>">
                    <input name="authenticity_token" 
                            type="hidden" 
                            value="<%= form_authenticity_token %>" />
                        
                    <button id='submit' class='btn'>Delete</button>
                </form>
            </td>
        </tr>
        <% end %>
    <% end %>
</table>



<% end %>
