<body class='container'>
<h3>Welcome <%= current_user.email %></h3>

<form method='post' action='/user/delete'>
    <input type='hidden' name='_method' value="<%= destroy_user_session_path %>" >
    
    <button class='btn' id='submit'>Log out</button>
</form>


<table class='table'>
    <thead>
        <td>
        <button class='btn btn-primary'>
            <a href="/new" style="color:white">New List</a>
        </button>
        </td>
    </thead>
    <% current_user.lists.each do |foo| %>
    <tr>
        <td>
            <a href="/list/<%=foo.name.gsub(' ','_')%>">
            <button class='btn'>
                <%= foo.name %>
            </button>
            </a>
        </td>

        <td>
        <form method='post' action="/delete/<%=foo.name.gsub(' ','_')%>" >
            <input name="authenticity_token" 
                    type="hidden" 
                    value="<%= form_authenticity_token %>" />
            <input name='id' type='hidden' value='<%= foo.id %>'>
            <button class=' btn'>
                Delete
            </button>
        </form>

        </td>
        
        <br/>
    </tr>
    <% end %>
</table>
</body>