<html>
<head>
    <style> 
        button { 
            border:0;
        }
    </style>
</head>

<body class='container'>

<nav class="navbar navbar-default  navbar-fixed-top" role="navigation" >
    <div class="navbar-header">
        <a class="navbar-brand" href="/">List-r</a>
    </div>

    <div class="navbar-header" style="float:right;">
        <form method='post' action='/user/delete'>
            <input type='hidden' name='_method' value="<%= destroy_user_session_path %>" >
            <button class="navbar-brand" id='submit' style='background-color:#f8f8f8;'>
                Log Out
                </button>
        </form>
    </div>



</nav>



<table class='table'>
    <thead>
        <td>
            <form method='post' action='/new' style='width: 15em;'>
                <input type='text' class='form-control' name='name' placeholder='New List'>
            
                <input name='user_id' type='hidden' value='<%= current_user.id %>'>

                 <input name="authenticity_token" 
                               type="hidden" 
                               value="<%= form_authenticity_token %>" />
            </form>
            
        </td>
    </thead>
    <% current_user.lists.each do |foo| %>
    <tr>
        <td>
            <a href="/list/<%=foo.name.gsub(' ','_')%>">
            <button class='btn'>
                <%= foo.name %>
            </button>
            </a>
        </td>

        <td>
        <form method='post' action="/delete/<%=foo.name.gsub(' ','_')%>" >
            <input name="authenticity_token" 
                    type="hidden" 
                    value="<%= form_authenticity_token %>" />
            <input name='id' type='hidden' value='<%= foo.id %>'>
            <button class=' btn'>
                Delete
            </button>
        </form>

        </td>
        
        <br/>
    </tr>
    <% end %>
</table>
</body>

</html>