<html>
<head>
    <style> 
        button { 
            border:0;
        }
    </style>
</head>

<body>


<div class='container col-md-8 col-md-offset-2'>

<br/>
<br/>

<table class='table' style='padding:0;margin:0;float:left;'>
    <thead>
        <td>
            <form method='post' action='/new' style='width: 15em;'>
                <input type='text' class='form-control' name='name' placeholder='New List'>
            
                <input name='user_id' type='hidden' value='<%= current_user.id %>'>

                 <input name="authenticity_token" 
                               type="hidden" 
                               value="<%= form_authenticity_token %>" />
            </form>
            
        </td>
    </thead>
    <tbody>
    <% current_user.lists.each do |foo| %>
    <tr>
        <td>
            <a href="/list/<%=foo.name.gsub(' ','_')%>">
            <button class='btn'>
                <%= foo.name %>
            </button>
            </a>
        </td>

        <td>
        <div>
            <form method='post' action="/delete/<%=foo.name.gsub(' ','_')%>" >
                <input name="authenticity_token" 
                        type="hidden" 
                        value="<%= form_authenticity_token %>" />
                <input name='id' type='hidden' value='<%= foo.id %>'>
                <div style='float:right;'>
                    <button class=' btn'>
                        Delete
                    </button>
                </div>
            </form>
        </div>
        </td>
    </tr>
    </tbody>
    <% end %>
</table>

</div>
</body>

</html>